body {
  margin: 0 auto;
}

.test-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.big-text {
  font-size: 5rem;
}

.Date {
  color: white;
  margin-bottom: 2rem;
}

.mainCard {
  min-width: 55rem;
  min-height: 30rem;
  border-radius: 2;
  padding: 2rem;
  position: relative;
  color: white;
}

.mainCard__TextField {
  margin-top: 2rem;
  width: 90%;
}

.mainCard__TextField label {
  font-size: 1.5rem;
}

.mainCard__TextField .MuiInput-root {
  font-size: 2rem;
}

.mainCard__TextField .MuiInput-root:hover::before {
  border-bottom: 2px solid #A7FFEB;
}

.mainCard__TextField .MuiInput-root::after {
  border-bottom: 2px solid #1DE9B6;
}

.mainCard__TextField .MuiInput-root::before {
  border-bottom: 2px solid white;
}

.mainCard__TextField input {
  color: white;
}

.mainCard h3 {
  margin: 1.5rem;
}