body {
  margin: 0 auto;
}

.test-div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.big-text {
  font-size: 5rem;
}

.Date {
  color: white;
  margin-bottom: 2rem;
}

.mainCard {
  min-width: 55rem;
  min-height: 30rem;
  border-radius: 2;
  padding: 2rem;
  position: relative;
  color: white;
}

.mainCard__TextField {
  margin-top: 2rem;
  width: 90%;
}

.mainCard__TextField label {
  font-size: 1.5rem;
}

.mainCard__TextField .MuiInput-root {
  font-size: 2rem;
}

.mainCard__TextField .MuiInput-root:hover::before {
  border-bottom: 2px solid #A7FFEB;
}

.mainCard__TextField .MuiInput-root::after {
  border-bottom: 2px solid #1DE9B6;
}

.mainCard__TextField .MuiInput-root::before {
  border-bottom: 2px solid white;
}

.mainCard__TextField input {
  color: white;
}

.mainCard h3 {
  margin: 1.5rem;
}

.history {
  display: flex;
  padding: 2rem;
  color: white;
  background-color: #6970ba;
  width: 50rem;
  /* width: 50rem; */
}

.history__days {
  /* display: inline;
  flex-direction: column;
  justify-content: flex-end; */
  margin-right: 0.5rem;
}

.history__heading {
  font-size: 20px;
  position: relative;
}

.history__node-group {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 11rem;
}

.history__node {
  background-color: #b3baff;
  /* width: 1rem; */
  /* height: 1rem; */
  /* margin: 3px; */
  transition: ease-out 0.15s;
}

.history__node[data-node-level] {
  fill: #b3baff99;
  transform-box: fill-box;
  transform-origin: center;
}

.history__node[data-node-level]:hover {
  fill: white;
  /* transform: scale(1.50); */ 
}

.history__node[data-node-level="2"] {
  fill: #1de9b699;
}

.history__node[data-node-level="3"] {
  fill: #1de9b6bb;
}

.history__node[data-node-level="4"] {
  fill: #1de9b6;
}

.history__node:hover {
  background-color: #f0f9ff;
}
